header {
    background: url('https://mtnshoppinghub.com/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/s/h/shoprite.jpg') 0 -30px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 180px;
}
.main-section {
    padding: 1rem;
}

h1,
h2 {
    text-align: center;
    color: #0c812b;
}

/* 
    form section
====================== */

.form {
    margin-left: 300px;
}

input {
    padding: 15px;
    border-radius: 10px;
}

input:active,
input:focus {
    color: #fff;
    background: #210b9b;
    outline: none;
}