header {
    background: url('https://mtnshoppinghub.com/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/s/h/shoprite.jpg') 0 -30px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 180px;
}